// Colors
$color-brand-primary: #111111;

$color-text-primary: #000;
$color-text-secondary: #F0F0F0;

$color-ui-info: #0084F4;
$color-ui-danger: #FF647C;
$color-ui-warning: #F9E476;
$color-ui-success: #9FDAAF;
$color-ui-alert: #FFA26B;

$color-ui-white: #fff;
$color-ui-black: #000;

$color-ui-gray: #EDEDED;
$color-ui-gray-dark: #575453;
$color-ui-gray-medium: #323232;

$color-ui-background-default: #F9F6F3;
