$font-family-01: 'Nunito', Helvetica, Arial, sans-serif;
$font-family-02: 'Playfair Display', Helvetica, Arial, serif;

// SIZE
$font-size-display-hg: 48px;
$font-size-display-md: 32px;
$font-size-display-sm: 26px;

$font-size-h1: $font-size-display-md;
$font-size-h2: $font-size-display-sm;
$font-size-default: 1rem;
$font-size-regular: 0.875rem;
$font-size-mb-default: 12px;

// OPACITY
$font-opacity-hg: .87;
$font-opacity-md: .54;
$font-opacity-sm: .38;

// WEIGHT
$font-weight-regular: 400;
$font-weight-bold: 700;
